h1{
    text-align: center;
    font-style: italic;
}

.generator-body{
    display: block;
    border: 2px solid black;
    height: 100%;
    margin-right:auto;
    margin-left:auto;
    background-color: white;
    padding: 10px;
}
.hidden{
    display: none;
}
.bookmark-form-target{
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
}
.results-container{
    background-color: white;
    width: 100%;
    border: 1px solid black;
    display: block;

}

.bookmark-element{
    border: 1px solid black;
    display:inline-block;
    background-color: white;
    padding: 10px;
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.shown-information{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 1px;
    font-size: 20px;
    font-style: oblique; 
}
.hidden-information{
    border: 1px solid black;
    width: 85%;
    text-align: center;
    margin-bottom: 1px;
    font-size: 15px;
    padding: 10px;
    font-style: italic;
}

.hidden-information-toggle{
    margin-top:5px;
    margin-bottom: 5px;
    font-style: italic;
    text-align: center;
    border: 1px dotted black;
    padding: 2px;
}

.delete-button{
    display: block;
    float: right;
    border: 1px solid black;
    margin-top: 5px;
}

.edit-button{
    display: block;
    float: left;
    border: 1px solid black;
    margin-top: 5px;
}

#bookmark-form{
    background-color:white;
    border: 2px solid black;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.rating-body{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin:auto;
    margin-bottom: 10px;
}

.create-bookmark-button{
    border: 1px solid black;
}

.body-top-half{
    background-color: white;
    border: 1px solid black;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}
     
    