h1{
    text-align: center;
    font-style: italic;
}

.generator-body{
    display: block;
    border: 2px solid grey;
    margin-right:auto;
    margin-left:auto;
    background-color: black;
    padding: 10px;
    height: 100%;
}
.hidden{
    display: none;
}
.bookmark-form-target{
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
}
.results-container{
    background-color: grey;
    width: 96.55%;
    border: 1px solid white;
    display: inline-block;
    padding: 20px;
}

.bookmark-element{
    border: 1px solid black;
    display:inline-block;
    background-color: white;
    padding: 10px;
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.shown-information{
    border: 1px solid white;
    width: 100%;
    text-align: center;
    margin-bottom: 1px;
    font-size: 20px;
    font-style: oblique; 
}
.hidden-information{
    border: 1px solid white;
    width: 85%;
    text-align: center;
    margin-bottom: 1px;
    font-size: 20px;
    padding: 10px;
    font-style: oblique;
}

.hidden-information-toggle{
    margin-top:5px;
    margin-bottom: 5px;
    font-style: italic;
    text-align: center;
    border: 1px dashed black;
    padding: 2px;
}

.delete-button{
    display: block;
    float: right;
    border: 1px solid black;
    margin-top: 5px;
}

.edit-button{
    display: block;
    float: left;
    border: 1px dashed black;
    margin-top: 5px;
}

#bookmark-form{
    background-color:white;
    border: 2px solid black;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.rating-body{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.create-bookmark-button{
    border: 1px solid black;
    background-color: white;
}

.body-top-half{
    background-color: grey;
    border: 1px solid white;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}
     
    